################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IA-GRUPO-7/FileContentIndex
/.vs/IA-GRUPO-7/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
